<div class="row" style="align-content: center;">
  <div class="card col-5 p-1" *ngFor="let i = index; let item of pageItems
    | paginate: {
        itemsPerPage: itemsPerPage,
        currentPage: page,
        totalItems: totalItems
      }">
    <div class="card-body" (click)="viewDetails(item.id)">
      <a title="View" >
        <div class="form-group row">
          <div class="col-8" >
            <img src="{{item.pictureUrl}}" style="height: 55vw; max-height: 100px;"/>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<button type="button" class="btn btn-success" (click)="addItem()">New item</button>
<div class="form-group">
  <label for="Search">Search</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text bg-white">
        <i class="fas fa-search"></i>
      </div>
    </div>
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchItems()" />
  </div>
</div>
<pagination-controls class="pagi" (pageChange)="getPage(page = $event)"></pagination-controls>