<div class="admin-layout" [ngStyle]="{'grid-template-columns':showLeftNav?'20% 80%':'5% 95%'}">

    <div class="left-nav">

      <div class="brand">
        <h2 [ngStyle]="{'font-size':showLeftNav?'30px':'10px'}">
          Art Gallery
        </h2>
      </div>
      <ol>
        <li *ngFor="let cat of categories" routerLink="items/{{cat.id}}">
          <div class="left-nav-list-categories">
            <fa-icon [ngStyle]="{'margin-left':showLeftNav?'':'10px'}" [icon]="userIcon"></fa-icon>
            <span *ngIf="showLeftNav">
                <button (click)="catOpen(cat.id)">
                    {{cat.name}}
                </button>
            </span>
          </div>
        </li>
      </ol>
    </div>
  </div>
<div>
  <button mat-raised-button (click)="openDialog()">Logs</button>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
