<table>
  <tr>
    <td>
      <div>
        <!-- <img src="{{itemDetail.pictureUrl}}"> -->
      </div>
    </td>
    <td>
      <div *ngIf="itemDetail">
        Name: {{itemDetail.name}}<br>
        Author: {{itemDetail.author}}<br>
        Description: {{itemDetail.description}}<br>
        Category: {{itemDetail.categoryName}}<br>
        Price:{{itemDetail.price}}<br>
        Location:{{itemDetail.location}}<br>
      </div>
    </td>
  </tr>
  <tr>
    <div>
      <table>
        <h2>Rating:</h2>
        <tr>
          <ng-template #t let-fill="fill" let-index="index">
            <i class="bi-star-fill">
              <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill" (click)="toggleRating(index+1)"
                type="submit"></i>
            </i>
          </ng-template>
          <ngb-rating [(rate)]="itemRating" [starTemplate]="t" [readonly]="false" [max]="5"></ngb-rating>
        </tr>
        <h2>Comments:</h2>
        <!-- <tr *ngFor="let comment of comments">
                    {{comment.commentAuthor}}: {{comment.commentValue}}
                </tr> -->
        <tr>
          <cdk-virtual-scroll-viewport itemSize="25" class="example-viewport">
            <div *cdkVirtualFor="let comment of comments" class="example-item">{{comment.commentAuthor}}:
              {{comment.commentValue}}</div>
          </cdk-virtual-scroll-viewport>
        </tr>
      </table>
      <div *ngIf="itemDetail">
        <form #form="ngForm" (submit)="onSubmitComment(form)" autocomplete="off" class="col-md-5 form">
          <h1 class="text-center text-primary">Add a comment</h1>
          <input type="hidden" name="id" #id="ngModel" [(ngModel)]="commentData.id">
          <input type="hidden" name="itemId" #itemId="ngModel" [(ngModel)]="itemDetail.id">
          <input type="hidden" #commentAuthor="ngModel" [(ngModel)]="randomAuthor" name="commentAuthor" />
          <div class="form-group">
            <input name="commentValue" #commentValue="ngModel" [(ngModel)]="commentData.commentValue"
              class="form-control" required
              [ngClass]="{'is-invalid': form.controls['commentValue']?.invalid && form.controls['commentValue']?.touched}"
              placeholder="Text">
            <div class="invalid-feedback" *ngIf="commentValue.invalid && commentValue.touched">Comment this!
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-success mr-2" [disabled]="form.invalid" type="submit">Save</button>
            <!-- <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button> -->
          </div>
        </form>
      </div>
    </div>
  </tr>
</table>




<!--<input name="name" #name="ngModel" [(ngModel)]="formData.name" class="form-control" required
          [ngClass]="{'is-invalid': form.controls['name']?.invalid && form.controls['name']?.touched}" placeholder="Name">
         <div class="invalid-feedback" *ngIf="name.invalid && name.touched">Please inform the item's name.</div>
      <div class="form-group">
        <input name="author" #author="ngModel" [(ngModel)]="formData.author" class="form-control" placeholder="Author"
          [ngClass]="{'is-invalid': form.controls['author']?.invalid && form.controls['author']?.touched}" required>
        <div class="invalid-feedback" *ngIf="author.invalid && author.touched">Please inform the author's name.</div>
      </div>
      <div class="form-group">
        <textarea name="description" #description="ngModel" [(ngModel)]="formData.description" class="form-control"
          placeholder="Description"
          [ngClass]="{'is-invalid': form.controls['description']?.invalid && form.controls['description']?.touched}"
          required rows="4"></textarea>
        <div class="invalid-feedback" *ngIf="description.invalid && description.touched">Please inform the description
        </div>
      </div>
      <div class="form-group">
        <select class="form-control" name="categoryId" #categoryId [(ngModel)]="formData.categoryId" required>
          <option value="null" disabled selected hidden>Category</option>
          <option *ngFor="let category of categories" value="{{category.id}}">
            {{category.name}}
          </option>
        </select>
        <div class="invalid-feedback" *ngIf="categoryId.invalid && categoryId.touched">Please inform the category</div>
      </div>
      <div class="form-group">
        <input name="price" #price="ngModel" [(ngModel)]="formData.price" class="form-control" placeholder="Price"
          type="number" [ngClass]="{'is-invalid': form.controls['price']?.invalid && form.controls['price']?.touched}"
          >
        <div class="invalid-feedback" *ngIf="price.invalid && price.touched">Please inform the price</div>
      </div>
      <div class="form-group">
        <textarea name="location" #location="ngModel" [(ngModel)]="formData.location" class="form-control"
          placeholder="Location"
          [ngClass]="{'is-invalid': form.controls['location']?.invalid && form.controls['location']?.touched}"
           rows="4"></textarea>
        <div class="invalid-feedback" *ngIf="location.invalid && location.touched">Please inform the location
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success mr-2" [disabled]="form.invalid" type="submit">Save</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
      </div>
  
    </form> -->